<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <title>YouTube Video Sharing Template</title>

</head>
<body>
  <div class="header">
    <h1>YouTube Video Sharing</h1>
    <div class="header-inputs">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <button type="submit">Login</button>
    </div>
  </div>
  <div class="container">
    <div class="video">
      <!-- YouTube video embed code here -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/02ODKglDVQs"></iframe>
    </div>
    <div class="details">
      <h1>Title</h1>
      <p>Description</p>
      <p>Additional Information</p>
    </div>

  </div>
</body>
</html>
