<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <title>YouTube Video Sharing</title>

</head>
<body>
  <div class="header">
    <h1>YouTube Video Sharing</h1>
    <div class="header-inputs">
      {% if not userLoggedin %}
      <form method="POST" action="{{ url_for('home') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="email" name="username" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login/Register</button>
      </form>
      {% else %}
      <p>Welcome {{email}}</p>
      <button onclick="location.href='/share'" type="button" style="margin-right: 10px">
         Share a movie</button>
<!--      <button type="button" style="margin-right: 10px">Share a movie</button>-->
      <button onclick="location.href='/logout'" type="button">
         Logout</button>
      {% endif %}
    </div>
  </div>
  <div class="popup-container" style="display: none">
      <div id="popup" class="popup">
          <span class="popup-close" onclick="closePopup()">X</span>
      </div>
  </div>
  {% for share in shares %}
  <div class="container">
    <div class="video">
      <!-- YouTube video embed code here -->
      {% if 'iframe' in share['url'] %}
        {{share['url']}}
      {% else %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{share['url']}}"></iframe>
      {% endif %}
    </div>
    <div class="details">
      <h1>{{share['title']}}</h1>
      <p>Shared by: <i>{{share['user']}}</i></p>
      <p>Description:</p>
      <p><b>{{share['description']}}</b></p>
    </div>
  </div>
  {% endfor %}
  <script>
      function closePopup() {
            var popupContainer = document.querySelector('.popup-container');
            popupContainer.style.display = 'none';
        }
      function fetchNotification() {
          fetch('/stream')
              .then(response => response.json())
              .then(data => {
                  if (data && data.notification) {
                      var popupContainer = document.querySelector('.popup-container');
                      var notification = data.notification;
                      var message = document.createElement('p');
                      message.innerText = notification;
                      notificationMessage.appendChild(message);
                      popupContainer.style.display = 'inline-block';
                      // Shading the page after a certain time (in milliseconds)
                      var shadingTime = 3000; // 3 seconds
                      setTimeout(function() {
                          var popupContainer = document.querySelector('.popup-container');
                          popupContainer.style.display = 'none';
                      }, shadingTime);
                  }
              })
              .finally(() => {
                  fetchNotification();
              });
      }

      var notificationMessage = document.getElementById('popup');
      fetchNotification();

  </script>
</body>
</html>
