<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/share.css') }}">
    <title>YouTube Video Sharing</title>

</head>
<body>
  <div class="header">
    <h1>YouTube Video Sharing</h1>
    <div class="header-inputs">
      {% if not userLoggedin %}
      <form method="POST" action="{{ url_for('home') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="email" name="username" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login/Register</button>
      </form>
      {% else %}
      <p>Welcome {{email}}</p>
      <button onclick="location.href='/home'" type="button" style="margin-right: 10px">
         Home</button>
<!--      <button type="button" style="margin-right: 10px">Share a movie</button>-->
      <button onclick="location.href='/logout'" type="button">
         Logout</button>
      {% endif %}
    </div>
  </div>
  <div class="share-container">
    <div class="share-window">
        <h2>Youtube URL Sharing</h2>
        <form method="POST" action="{{ url_for('share') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <textarea name="url" placeholder="Youtube URL" rows="1" cols="30" required></textarea>
            <div>
                <textarea name="title" placeholder="Title" rows="1" cols="30" required></textarea>
            </div>
            <div>
                <textarea name="description" placeholder="Description" rows="12" cols="30"></textarea>
            </div>
            <button type="submit">Share</button>
        </form>
    </div>
  </div>
</body>
</html>
